@model  List<Drink>
@{
    ViewData["Title"] = "DrinksView";
}

<h2>Drinks</h2>
<form asp-action="AddDrinks">
    @foreach (var drink in (DrinkEnum[])Enum.GetValues(typeof(DrinkEnum)))
    {
        <label asp-for="@drink">@drink</label>
        <input asp-for="@drink" type="number" id="side" />
    }
    <button type="submit">Add Drink</button>
</form>

