
@{
    ViewData["Title"] = "Index";
}

<h2>Create Your Order</h2>
<div>
    <a href="/Order/KabobwichForm/">Add Kabobwich</a>
    <a href="/Order/SidesForm/">Add Sides</a>
    <a href="/Order/DrinksForm/">Add Drinks</a>
    <p>Total: $@ViewBag.Total</p>
    <a asp-Action="PlaceOrder">Place Order</a>
</div>