
@{
    ViewData["Title"] = "Index";
}

<h2>Create Your Order</h2>
<div>
    <a href="/Order/AddKabobwich/">Add Kabobwich</a>
    <a href="/Order/AddSides/">Add Sides</a>
    <a href="/Order/AddDrinks/">Add Drinks</a>
    <a href="/Order/ThankYou/">Place Order</a>
</div>