@model  Order
@{
    ViewData["Title"] = "OrderOverview";
}

<h2>OrderOverview</h2>
<a href="/Order/KabobwichForm/">Add a kabobwich</a>
<a href="/Order/SidesAndDrinks/">Add sides and drinks</a>
<a href="/Order/PaymentAndAddress">Add delivery address and payment info</a>
<a href="/Order/PlaceOrder/">Place Order</a>

<p>kabobs: @ViewBag.KabobwichCount</p>
<p>sides: @Model.CountSides()</p>
<p>drinks: @Model.CountDrinks()</p>