@model Order
@{
    ViewData["Title"] = "PaymentAndAddress";
}

<h2>PaymentAndAddress</h2>
<form asp-action="AddPaymentAndAddressToOrder">
    <h3>Delivery Address</h3>
    <select asp-for="DeliveryAddress" name="deliveryAddress">
        @{ foreach (Address address in ViewBag.Addresses)
            {
                <option value="@address">@address.StreetAddress</option>
            }
        }
    </select>
    <h3>Payment Information</h3>
    <select asp-for="PaymentInformation" name="paymentInfo">
        @{
            foreach (PaymentInformation payment in ViewBag.Payments)
            {
                <option id="@payment.BillingAddress">@payment.CardNum</option>
            }
        }
    </select>
    <button type="submit">Confirm</button>
</form>


