@model Order
@{
    Layout = "_Layout";
    ViewData["Title"] = "PaymentAndAddress";
}

<h2>PaymentAndAddress</h2>
<form asp-action="AddPaymentAndAddressToOrder">
    <h3>Delivery Address</h3>
    @Html.DropDownList("addressid", (SelectList)ViewBag.Addresses, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => Model.DeliveryAddress, "", new { @class = "text-danger" })

    <h3>Payment Information</h3>

    @Html.DropDownList("billingid", (SelectList)ViewBag.Payments, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => Model.PaymentInformation, "", new { @class = "text-danger" })
    <button type="submit" class="btn btn-primary">Confirm</button>

</form>


