@model  IEnumerable<Side>;
@{
    ViewData["Title"] = "Sides";
}

<h2>Sides</h2>
<form asp-action="AddSides">
    @foreach (var side in (Side[])Enum.GetValues(typeof(Side)))
    {
        <label asp-for="@side">@side</label>
        <input asp-for="@side" type="number" id="side" />
    }
    <button type="submit">Add Sides</button>
</form>
