@{
    ViewData["Title"] = "Sides";
}

<h2>Sides</h2>
<form asp-action="AddSides">
    @{ foreach (var side in (SideEnum[])Enum.GetValues(typeof(SideEnum)))
        {
            <label asp-for="@side">@side</label>
            <button type="button" onClick="(function() { @ViewBag.Sides += @side})()">+ @side</button>
        }
    }
    <button type="submit">Add Sides</button>
</form>