
@{
    ViewData["Title"] = "ThankYou";
}

<h2>ThankYou</h2>
<p>Your order, @ViewBag.OrderId, has been placed and will be delivered to @ViewBag.Address</p>
<p>$@ViewBag.Total was charged to card number @ViewBag.Payment</p>
