@{
    ViewData["Title"] = "Home Page";
}
<div>
    <a href="/Order/">Create Order</a>
    <a href="/Account/AddAddress/">Add Delivery Address</a>
    <a href="/Account/AddPaymentInfo/">Add Payment Info</a>
</div>