@{
    ViewData["Title"] = "Home Page";
}
<div>
<p>HELLO, Make sure to add your delivery address and payment info before placing an order. You can do this by selecting "Account"</p>
<div id="offers">
    <img src="~/images/kabob.png" alt="Kabob" />
    <img src="~/images/fries.png" alt="French fries" />
    <img src="~/images/soda.png" alt="Soda bottle" />
</div>
    <p>Enjoy Your Meal!</p>
</div>