@{
    ViewData["Title"] = "Home Page";
}
<div>
    <p id="banner">HELLO, Make sure to add your delivery address and payment info before placing an order. You can do this by selecting "Account"</p>
    <div id="offers">
        <figure>
            <img src="~/images/kabob.svg" alt="Kabob" />
            <figcaption>@string.Format("{0:C}", Price.Kabobwich)</figcaption>
        </figure>
        <figure>
            <img src="~/images/fries.svg" alt="French fries" />
            <figcaption>@string.Format("{0:C}", Price.Side)</figcaption>
        </figure>
        <figure>
            <img src="~/images/soda.svg" alt="Soda bottle" />
            <figcaption>@string.Format("{0:C}", Price.Drink)</figcaption>
        </figure>
    </div>
    <p>Enjoy Your Meal!</p>
</div>