
@{
    ViewData["Title"] = "Account Home";
}

<h2>Account Info</h2>


<a href="/Account/AddAddress/" class="btn btn-primary">Add Delivery Address</a>
<a href="/Account/AddPaymentInfo/" class="btn btn-info">Add Payment Info</a>

