
@{
    ViewData["Title"] = "Index";
}

<h2>Account Info</h2>

<p>Hello User, </p>

<a href="/Account/AddAddress/">Add Delivery Address</a>
<br />
<a href="/Account/AddPaymentInfo/">Add Payment Info</a>

